<h2 class="text-xl font-bold mb-4 text-primary">Visites vétérinaire</h2>

@if (currentDog) {
  @if (paginatedVisits && paginatedVisits.length > 0) {
    <p-card styleClass="p-4">
      <p-accordion [value]="0">
        @for (veterinaryVisit of paginatedVisits; track veterinaryVisit.id) {
          <p-accordion-panel [value]="veterinaryVisit.visitDate">
            <p-accordion-header>{{ veterinaryVisit.visitDate | date:'dd/MM/yyyy' }} - {{ veterinaryVisit.reasonForVisit }}</p-accordion-header>
            <p-accordion-content>
              <h4 class="font-medium text-primary">{{ veterinaryVisit.veterinarian }}</h4>
              <p><span class="font-medium text-primary">Raison de la visite :</span> {{ veterinaryVisit.reasonForVisit }}</p>
              <p class="m-0"><span class="font-medium text-primary">Diagnostique :</span> {{ veterinaryVisit.diagnosis }}</p>
              <p><span class="font-medium text-primary">Traitement :</span> {{ veterinaryVisit.treatment }}</p>
            </p-accordion-content>
          </p-accordion-panel>
        }
      </p-accordion>

      <!-- Pagination -->
      <div class="mt-4">
        <p-paginator
          [rows]="pageSize"
          [totalRecords]="totalVisits"
          [first]="first"
          (onPageChange)="onPageChange($event)">
        </p-paginator>
      </div>
    </p-card>
  } @else {
    <p-card styleClass="text-center p-4 mx-auto">
      <div class="flex flex-col items-center">
        <i class="pi pi-calendar-times text-3xl mb-2 text-primary"></i>
        <p class="text-lg text-primary">Aucune visite vétérinaire enregistrée pour {{ currentDog.name }}.</p>
      </div>
    </p-card>
  }
} @else {
  <p-card styleClass="text-center p-4 mx-auto">
    <div class="flex flex-col items-center">
      <i class="pi pi-info-circle text-3xl mb-2 text-primary"></i>
      <p class="text-lg text-primary">Aucun chien sélectionné. Veuillez sélectionner un chien pour voir ses visites vétérinaires.</p>
    </div>
  </p-card>
}
