<div class="card">
  <p-megamenu [model]="items" [style]="{ display: 'flex' }"
              styleClass="p-4 bg-surface-0 dark:bg-surface-900">


    <ng-template #start>
      <p-select [options]="dogs" [(ngModel)]="selectedDog" optionLabel="name" [filter]="true" filterBy="name"
                [showClear]="true" placeholder="Choisir un chien" class="w-full md:w-56">

        <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2">
            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                 [class]="'flag flag-' + selectedDog.name.toLowerCase()" style="width: 18px"/>
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>

        <ng-template let-dog #item>
          <div class="flex items-center gap-2">
            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                 [class]="'flag flag-' + dog.name.toLowerCase()" style="width: 18px"/>
            <div>{{ dog.name }}</div>
          </div>
        </ng-template>
      </p-select>
    </ng-template>


    <ng-template #item let-item>
      @if (item.root) {
        <a pRipple [routerLink]="item.route"
           class="flex items-center cursor-pointer px-4 py-2 overflow-hidden relative font-semibold text-lg uppercase"
           style="border-radius: 2rem">
          <i [ngClass]="item.icon"></i>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      }

      @if (!item.root && !item.image) {

        <a class="flex items-center p-4 cursor-pointer mb-2 gap-2">
                <span
                  class="inline-flex items-center justify-center rounded-full bg-primary text-primary-contrast w-12 h-12">
                    <i [ngClass]="item.icon + ' text-lg'"></i>
                </span>
          <span class="inline-flex flex-col gap-1">
                    <span class="font-medium text-lg text-surface-900 dark:text-surface-0">{{ item.label }}</span>
                    <span class="whitespace-nowrap">{{ item.subtext }}</span>
                </span>
        </a>
      }

      @if (item.image) {
        <div class="flex flex-col items-start gap-4">
          <img [src]="item.image" alt="megamenu-demo" class="w-full"/>
          <span>{{ item.subtext }}</span>
          <p-button [label]="item.label" [outlined]="true"></p-button>
        </div>
      }
    </ng-template>


    <ng-template #end>
      <p-menu #menu [model]="avatar" [popup]="true"/>
      <p-button [outlined]="true" [rounded]="true" (click)="menu.toggle($event)">
        <p-avatar image="/img/avatars/user-default-avatar.png" [shape]="'circle'" class="mr-2" size="xlarge"
                  shape="circle"/>
      </p-button>

    </ng-template>
  </p-megamenu>
</div>
