<p-toast position="bottom-center"></p-toast>

<p-card header="Informations personnelles" styleClass="h-full border-1 border-gray-300" [style]="{'max-width': '700px', 'margin': '0 auto', 'padding': '1.5rem'}">
  @if (memberSinceText) {
  <div class="text-center mb-4 text-primary italic">
    <p>
    {{ memberSinceText }} (date d'inscription : {{owner?.registrationDate | date:'dd/MM/yyyy'}})
    </p>
  </div>
  }
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col h-full">
    <div class="p-fluid px-4 flex-grow flex flex-col justify-between">
      <div class="space-y-6">
        <div>
          <label for="firstname" class="block mb-2 text-primary">Prénom</label>
          <p-iconfield styleClass="w-full">
            <p-inputicon styleClass="pi pi-user" />
            <input id="firstname" type="text" pInputText formControlName="firstname" class="w-full p-inputtext-lg" />
          </p-iconfield>
          @if (userForm.get('firstname')?.invalid && userForm.get('firstname')?.touched) {
            <small class="text-red-500">Prénom requis</small>
          }
        </div>

        <div>
          <label for="lastname" class="block mb-2 text-primary">Nom</label>
          <p-iconfield styleClass="w-full">
            <p-inputicon styleClass="pi pi-id-card" />
            <input id="lastname" type="text" pInputText formControlName="lastname" class="w-full p-inputtext-lg" />
          </p-iconfield>
          @if (userForm.get('lastname')?.invalid && userForm.get('lastname')?.touched) {
            <small class="text-red-500">Nom requis</small>
          }
        </div>

          <div>
            <label for="email" class="block mb-2 text-primary">Email</label>
            <p-iconfield styleClass="w-full">
              <p-inputicon styleClass="pi pi-envelope" />
              <input id="email" type="email" pInputText formControlName="email"
                     placeholder="laurent.tanplan@ccc.com" class="w-full p-inputtext-lg"
                     />
            </p-iconfield>
            @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
              <small class="text-red-500">Email valide requis</small>
            }
            @if (userForm.get('email')?.valid && userForm.get('email')?.value !== owner?.email) {
              <small class="text-orange-500">
                <i class="pi pi-exclamation-triangle mr-1"></i>
                Modifier votre email nécessitera une validation depuis la nouvelle adresse et entraînera une déconnexion
              </small>
            }
          </div>


        <div>
          <label for="phone" class="block mb-2 text-primary">Téléphone</label>
          <p-iconfield styleClass="w-full">
            <p-inputicon styleClass="pi pi-phone" />
            <input id="phone" type="tel" pInputText formControlName="phone" placeholder="06 12 34 56 78" class="w-full p-inputtext-lg" />
          </p-iconfield>
          @if (userForm.get('phone')?.invalid && userForm.get('phone')?.touched) {
            <small class="text-red-500">
              @if (userForm.get('phone')?.hasError('pattern')) {
                Format de téléphone invalide
              }
            </small>
          }
        </div>
      </div>

      <div class="flex justify-center mt-6">
        <p-button type="submit" label="Enregistrer" icon="pi pi-save" [loading]="loading" [disabled]="userForm.invalid" styleClass="p-button-lg"></p-button>
      </div>
    </div>
  </form>
</p-card>
