
<div class="flex justify-center h-full">
  <p-card
    styleClass="w-[500px] h-full"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmitEdit()" class="w-full h-full flex flex-col">

      <div class="flex flex-col gap-4 w-full flex-grow">
        <h1 class="text-xl font-bold text-center mb-4">
          Modifier le profil {{ updatedDog?.gender === 'FEMALE' || updatedDog?.gender === 'STERILIZED_FEMALE' ? 'de la chienne' : 'du chien' }} {{ updatedDog?.name | uppercase }}
        </h1>

        <label for="name" class="text-primary font-bold">Nom du chien</label>
        <input class="w-full text-primary" type="text" pInputText formControlName="name"/>

        <label class="block font-bold text-primary" for="gender">Genre</label>
        <p-select [options]="genderOptions"
                  formControlName="gender"
                  optionLabel="label"
                  optionValue="value"
                  dataKey="value"
                  placeholder="Sélectionner le genre"
                  emptyMessage="Aucune option disponible"
                  styleClass="w-full text-primary">
        </p-select>

        <label class="block font-bold text-primary" for="breed">Races</label>
        <p-multiselect [options]="availableBreeds"
                       formControlName="breed"
                       optionLabel="name"
                       placeholder="Race.s du chien"
                       emptyMessage="Aucune race disponible"
                       [maxSelectedLabels]="3"
                       styleClass="w-full text-primary"></p-multiselect>

        <label class="font-bold text-primary" for="chipNumber">Numéro de puce</label>
        <input type="text" class="w-full text-primary" pInputText formControlName="chipNumber"/>

        <label class="font-bold text-primary" for="birthDate">Date de naissance</label>
        <p-datepicker
          formControlName="birthDate"
          inputId="birthDate"
          showIcon
          iconDisplay="input"
          dateFormat="dd/mm/yy"
          [maxDate]="today"
          styleClass="w-full text-primary z-10"></p-datepicker>

        <div class="flex-grow"></div> <!-- Spacer pour pousser le bouton vers le bas -->

        <div class="flex gap-2">
          <p-button label="Mettre à jour" type="submit" icon="pi pi-sync" class="flex-1"/>
          <p-button
            label="Supprimer"
            icon="pi pi-trash"
            severity="danger"
            (click)="deleteDog()"
            [disabled]="!updatedDog?.id"
            type="button">
          </p-button>
        </div>
      </div>
    </form>
  </p-card>
</div>
