<h2 >Calendrier</h2>
<div class="row text-center">
  <div class="col-md-4">
    <div class="flex flex-row gap-4 justify-between">
      <p-button
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate">
        Précédent
      </p-button>
      <p-button mwlCalendarToday
                [(viewDate)]="viewDate">
        Aujourd'hui
      </p-button>
      <p-button mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate">
        Suivant
      </p-button>
    </div>
  </div>
  <div class="col-md-4">
    <h3 class="text-center text-xl font-bold">
      {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}
    </h3>
  </div>


  <div>
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [weekStartsOn]="weekStartsOn"
      [weekendDays]="weekendDays"
    >
    </mwl-calendar-month-view>
  </div>
