<div class="card">
  <p-menubar [model]="items">
    <ng-template #start>
      <img routerLink="/home" ngSrc="/img/LOGO_RVB_POSITIF.png" alt="Logo" class="w-16" height="85" width="120"/>
    </ng-template>


    <ng-template #item let-item let-root="root">
      <a pRipple [routerLink]="item.route" class="flex items-center p-menubar-item-link">
        <span>{{ item.label }}</span>
        @if (item.badge) {
          <p-badge [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge"/>
          @if (item.shortcut) {
            <span
              class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ item.shortcut }}</span>
            @if (item.items) {
              <i [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
            }
          }

        }
      </a>
    </ng-template>
    <ng-template #end>

      <p-button routerLink="/login" label="Connection" icon="pi pi-sign-in"/>
      <p-button routerLink="/register" label="Créer un compte" icon="pi pi-user-plus"/>
    </ng-template>
  </p-menubar>
</div>

