<div class="navbar">
  <div class="logo"><a routerLink="/home">

    <img src="/img/LOGO_RVB_BLANC.svg" alt="Logo CaniCampus">
  </a>
  </div>

  <div class="menu">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Accueil</a></li>
      <li><a routerLink="#courses" routerLinkActive="active">Cours</a></li>
      <li><a routerLink="#coachs" routerLinkActive="active">Coachs</a></li>
      <li><a routerLink="#about" routerLinkActive="active">À propos</a></li>
      <li><a routerLink="#partnairs" routerLinkActive="active">Partenaires</a></li>
      <li><a routerLink="#contacts" routerLinkActive="active">Contacts</a></li>
    </ul>
  </div>
</div>
