.navbar {
  background-color: #1B2140;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0 15px;

  .logo {
    height: 85px;
  }

  .menu {
    ul {
      display: inline-flex;
      //border: 1px solid #8dba16;
      border-radius: 20px;
      overflow: hidden;
      background-color: white;

      li {
        color: #1B2140;
        list-style-type: none;
        padding: 20px 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1rem;
        outline: none;
        border-right: 1px solid #ccc;
        a{
          text-decoration: none;
        }

        &:last-child {
          border-right: none;
        }

        &:hover {
          a {
            color: white;
            font-weight: bold;
          }

          background-color: #1B2140;
        }

        &:active {
          color: #ffffff;
          background-color: #1B2140;
        }
      }
    }
  }

  .connection-flex-container {
    display: flex;
    gap: 10px;
  }
}
