<div class="navbar">
  <div class="logo">
    <p>PLACEHOLDER IMAGE</p>
  </div>

  <div class="menu">
    <button mat-button routerLink="/home" routerLinkActive="active">Accueil</button>
    <button mat-button routerLink="/home" routerLinkActive="active">Cours</button>
    <button mat-button routerLink="/home" routerLinkActive="active">Coachs</button>
    <button mat-button routerLink="/home" routerLinkActive="active">À propos</button>
    <button mat-button routerLink="/home" routerLinkActive="active">Partenaires</button>
    <button mat-button routerLink="/home" routerLinkActive="active">Contact</button>
  </div>

  <div class="connections">
    <div class="connection-row">
      <div class="connection-flex-container">
        <div class="login-button-container">
          <a mat-fab extended routerLink="/login">
            <mat-icon>login</mat-icon>
            Login
          </a>
        </div>
        <div class="sign-in-button-container">
          <a mat-fab extended routerLink="/register">
            <mat-icon>account_circle</mat-icon>
            Sign in
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
