  .container {
    display: flex;
    justify-content: center;
    align-items: center;


    .login-form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 541px;
      border-radius: 10px;
    }
  }
