:root {
  //Colors
  $black: #000;
  $white: #fff;
  $primary: #1B2140;
  $secondary: #93C01F;
  $secondary-20: #93C01F33;
  $tertiary: #5BC4F1;
  $muted: #64748B;
  $muted-foreground: #1B21407F;
  $muted-secondary: #93C01F33;
  $accent: #EA8F16;
  $accent-2: #F3BF00;

  $calendar-current: #007AFF;
  $calendar-selected: #007AFF26;
  $empty-badge: #93C01F;
  $nearly-complete-badge: #EA8F16;
  $complete-badge: #FF3B30;

  //Radius
  $button-corner-radius: 8.92;
  $input-field-corner-radius: 8.92;
  $round-radius: 50%;
}

body {
  margin: 0;
  font-family: Montserrat, 'Calibri', serif;
}

.panel-nav-avatar{
  min-width: 400px !important;
}


