.p-card-header {
  background-color: transparent;
}

.from-transparent {

  --tw-gradient-from: var(--color-primary);
  --tw-gradient-stops: var(--tw-gradient-from),
  var(--tw-gradient-to, rgba(255, 0, 0, 0)),
  var(--tw-gradient-to, rgba(0, 0, 0, 0));
}
