<div class="card">
  <p-megaMenu [model]="items" [style]="{ display: 'flex' }"
              styleClass="p-4 bg-surface-0 dark:bg-surface-900">

    {{(dogService.userDogsSubject | async)?.length}}
    <ng-template pTemplate="start">
      <p-select
        [options]="(dogService.userDogsSubject | async) || []"
        [(ngModel)]="selectedDogId"
        optionLabel="name"
        optionValue="id"
        [filter]="true"
        filterBy="name"
        placeholder="Choisir un chien"
        class="w-full md:w-56"
        styleClass="font-semibold"
        (onChange)="onDogChange($event.value)">

        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex items-center gap-2">
            <img src="/img/avatars/golden.png" style="width: 32px"/>
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>

        <ng-template pTemplate="item" let-dog>
          <div class="flex items-center gap-2">
            <img src="/img/avatars/golden.png" style="width: 32px"/>
            <div>{{ dog.name }}</div>
          </div>
        </ng-template>
      </p-select>
    </ng-template>

    <ng-template pTemplate="item" let-item>
      <a pRipple [routerLink]="item.route"
         class="flex items-center cursor-pointer px-4 py-2 overflow-hidden relative font-semibold text-lg uppercase"
         style="border-radius: 2rem">
        <i [ngClass]="item.icon"></i>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <p-menu #menu [model]="avatar"  [popup]="true"></p-menu>
      <p-button rounded="false" size="small" (click)="menu.toggle($event)" class="rounded-full avatar-button">
        <p-avatar image="/img/avatars/user-default-avatar.png" class="" size="large"
                  shape="circle"></p-avatar>
      </p-button>
    </ng-template>
  </p-megaMenu>
</div>

<router-outlet></router-outlet>
